<h2>By Country</h2>
<hr>
<div class="row">
    <div class="col">
        <app-country-input
            (onEnter)="search($event)"
            (onDebounce)="sugerences($event)"
        ></app-country-input>
    </div>
</div>
<hr>

<div class="alert alert-danger" *ngIf="thereIsError">
    No coincidence found with '{{searchCountry}}'.
</div>

<div class="row" *ngIf="!thereIsError && countries.length > 0">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
