<h3>Search by Country</h3>
<hr>
<div class="row">
    <div class="col">
        <app-country-input
            (onEnter)="search($event)"
            (onDebounce)="sugerences($event)"
            placeholder="Search country"
        ></app-country-input>
    </div>
</div>

<ul class="list-group" *ngIf="showSuggerences">
    <li class="list-group-item list-group-item-action" (onClick)="searchSuggested(searchText)">
        Search "{{searchText}}"
    </li>
    <li *ngFor="let suggestion of suggestedCountries" class="list-group-item list-group-item-action"
        [routerLink]="['/country', suggestion.cca2]"    
    >
        {{suggestion.name.common}}
    </li>
</ul>

<hr>

<div class="alert alert-danger" *ngIf="thereIsError">
    No coincidence found with '{{searchCountry}}'.
</div>

<div class="row" *ngIf="!thereIsError && countries.length > 0" class="animate__animated animate__slideInUp animate__faster">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
