<h3>Search by Country</h3>
<hr>
<div class="row">
    <div class="col">
        <app-country-input
            (onEnter)="search($event)"
            (onDebounce)="sugerences($event)"
            placeholder="Search country"
        ></app-country-input>
    </div>
</div>
<hr>

<div class="alert alert-danger" *ngIf="thereIsError">
    No coincidence found with '{{searchCountry}}'.
</div>

<div class="row" *ngIf="!thereIsError && countries.length > 0" class="animate__animated animate__slideInUp animate__faster">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
